<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <!-- empty on purpose -->
        </div>

        <div class="col-sm-10">
            <h1>{{header}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <app-sorting [sortingDefinitions]="sortingDefinitions" [sortingModel]="sortingModel"
                         (sortingModelChange)="onSortingModelChange($event)"></app-sorting>
        </div>

        <div class="col-sm-10">
            <div class="spinner" *ngIf="loading">
                <app-spinner></app-spinner>
            </div>
            <div *ngIf="!loading">
                <div>
                    <app-blog-element *ngFor="let blog of blogs?.blogs" [blog]="blog"
                                      (subscribe)="onSubscribe($event)"
                                      (unsubscribe)="onUnsubscribe($event)"></app-blog-element>
                </div>
                <div class="pagination-wrapper">
                    <app-pagination *ngIf="blogs" [page]="page" (pageChange)="onPageChange($event)"
                                    [allItems]="blogs?.page?.allItems" [perPage]="perPage"></app-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
