<div id="site">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="#">{{appTitle}}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/blogs" routerLinkActive="active">{{appTitle}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Tags</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Explore</a>
                    </li>
                </ul>

                <div class="navbar-right">
                    <app-user-menu [loading]="loading"></app-user-menu>
                </div>
            </div>
        </div>
    </nav>

    <router-outlet></router-outlet>
</div>

<footer class=" footer">
    <div class="container">
        <p class="text-muted">
            <a href="">
                <i class="fas fa-code" ngbTooltip="Project repository on Github"
                   placement="top"></i>
            </a>
            <a href="/updates">
                <i class="fas fa-chart-area" ngbTooltip="Update statistics" placement="top"></i>
            </a>
            <span class="float-right">
                <a href="https://github.com/boreq/blogs/issues/new">
                    report a bug or ask for new features
                </a>
            </span>
        </p>
    </div>
</footer>
