@import '../variables';

// Sticky footer
.footer {
    padding: 1em;
    margin-top: -3em;
    line-height: 1;

    p {
        margin: 0;
    }
}

#site {
    min-height: 100%;
}

#site > :last-child {
    padding-bottom: 4em; // 3em footer + 1em padding
}

::ng-deep {
    .navbar {
        background-color: #fff;
        border-bottom: 1px solid $color-border-gray;
        font-size: 14px;
        margin-bottom: 1em;

        .navbar-brand {
            color: $color-text;
            font-size: 20px;
            height: 46px;
            line-height: 26px;
            padding: 8px;
        }

        .navbar-nav {
            .nav-link {
                margin: 0 5px 0 5px;
                color: inherit;
                padding-bottom: 5px;
                border-bottom: 3px solid transparent;
            }

            .nav-link:hover, .nav-link.active {
                color: inherit;
                padding-bottom: 5px;
                border-bottom: 3px solid $color-primary;
            }
        }
    }
}

footer {
    a {
        color: inherit;
        cursor: pointer;
        margin-right: .2em;
    }
}
