@import '../variables';

// Sticky footer
.footer {
    padding: 1em;
    margin-top: -3em;
    line-height: 1;

    p {
        margin: 0;
    }
}

#site {
    min-height: 100%;
}

#site > :last-child {
    padding-bottom: 4em; /* 3em footer + 1em padding */
}

// Navbar
::ng-deep {
    .navbar {
        background-color: #fff;
        border-bottom: 1px solid $color-border-gray;
        font-size: 14px;
        margin-bottom: 1em;

        .navbar-brand {
            color: $color-text;
            font-size: 20px;
            height: 46px;
            line-height: 26px;
            padding: 8px;
        }

        .navbar-nav {
            .nav-link {
                margin: 0 5px 0 5px;
                color: inherit;
                padding-bottom: 5px;
                border-bottom: 3px solid transparent;
            }

            .nav-link:hover, .nav-link.active {
                color: inherit;
                padding-bottom: 5px;
                border-bottom: 3px solid $color-primary;
            }
        }
    }
}

//
//.navbar-nav > li > a {
//    padding: 20px 10px 5px 10px;
//    margin: 0px 5px 7px 5px;
//}
//
////.nav > li > a:focus, .nav > li > a:hover {
////    background-color: transparent;
////}
//
//.navbar-brand {
//    color: inherit;
//    font-size: 20px;
//    height: 60px;
//    line-height: 30px;
//    padding: 15px;
//}
//
//.navbar-brand:hover {
//    color: inherit;
//}
//
//.navbar-toggle {
//    border-color: $border-gray;
//}
//
//.navbar-toggle .icon-bar {
//    background-color: #000;
//}
//
footer {
    a {
        color: inherit;
        cursor: pointer;
    }
}
