<div id="site">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" routerLink="/">{{appTitle}}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/blogs" routerLinkActive="active">Blogs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/posts" routerLinkActive="active">Posts</a>
                    </li>
                </ul>

                <div class="navbar-right">
                    <app-user-menu [loading]="loading"></app-user-menu>
                </div>
            </div>
        </div>
    </nav>

    <router-outlet></router-outlet>
</div>

<footer class="footer">
    <div class="container">
        <p class="text-muted">
            <a href="https://github.com/boreq?tab=repositories&q=blogs">
                <i class="fas fa-code" ngbTooltip="Source code on Github" placement="top"></i>
            </a>
            <a href="/updates">
                <i class="fas fa-chart-area" ngbTooltip="Update statistics" placement="top"></i>
            </a>
        </p>
    </div>
</footer>
