<div class="container" *ngIf="!user">
    User is not logged in.
</div>

<app-posts-view *ngIf="user"
                header="Your feed"
                [sortingDefinitions]="sortingDefinitions"
                [sortingModel]="sortingModel" (sortingModelChange)="onSortingModelChange($event)"
                [perPage]="perPage"
                [page]="page" (pageChange)="onPageChange($event)"
                [posts]="postsList" [loading]="loading"
                (star)="star($event)" (unstar)="unstar($event)"></app-posts-view>
