@import 'variables';

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: $color-text;
}

a:hover {
    cursor: pointer;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

a {
    color: $color-primary;
}

a:hover {
    color: $color-primary;
    text-decoration: underline;
}
